.bookshelf-page-main {
  display: flex;
  flex-direction: column;
}

.card-container-wrapper {
  margin-top: 20px;

  p {
    text-align: center;
  }
}

.not-authenticated {
  margin: 150px auto 0 auto;
}
