.middleSection {
  margin-bottom: var(--bottom-navbar-height); /*same as bottom section height*/
  padding: 15px;
  overflow-y: auto;
  background-color: var(--background-color);

  @media (min-width: 996px) {
    margin-bottom: 0;
    margin-left: 70px;
    text-align: center;
  }
}

.description {
  max-width: 1400px;
  margin: auto;
  padding: 10px 0;
}

.readmore {
  margin-top: -10px;
  font-weight: 500;
  cursor: pointer;
}
