.main {
  display: flex;
  flex-direction: column;
}

.container {
  text-align: center;
}

.title {
  margin-bottom: 40px;
  text-align: center;
}

.cardContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-row-gap: 10px;
  align-items: center;
  justify-content: center;
  margin: 20px auto var(--bottom-navbar-height) auto;
  place-items: center;

  @media (min-width: 600px) {
    grid-template-columns: repeat(4, 1fr);
  }

  @media (min-width: 730px) {
    grid-template-columns: repeat(5, 1fr);
    max-width: 900px;
  }
}

.notAuthenticated {
  margin: 150px auto 0 auto;
}
