.navbar {
  position: fixed;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  bottom: 0;
  height: var(--bottom-navbar-height);
  width: 100%;
  background-color: var(--secondary-color);

  a.my-shelf-btn,
  a.search-section-btn {
    background-color: transparent;
    border-style: none;
    padding: 2px 6px;
    color: var(--tertiary-color);
    cursor: pointer;
    font-size: var(--buttons-size);
    display: flex;
    flex-direction: column;
    align-items: center;

    p {
      padding: 4px 0;
    }
  }

  .search-section-btn {
    color: white;
  }
}

@media screen and (min-width: 996px) {
  .navbar {
    flex-direction: column;
    width: 60px;
    height: 100%;
  }
}
