.card-container-wrapper {
  margin-top: 55px; /*height of fixed search bar*/

  .user-welcome-container {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    margin: 100px 0 35px 0;
  }

  .main-page-title {
    margin-bottom: 40px;
    text-align: center;
  }

  .card-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-row-gap: 10px;
    align-items: center;
    justify-content: center;
    margin: auto;

    margin-bottom: var(--bottom-navbar-height);
    place-items: center;
  }

  @media screen and (min-width: 600px) {
    .card-container {
      grid-template-columns: repeat(4, 1fr);
    }
  }

  @media screen and (min-width: 730px) {
    .card-container {
      grid-template-columns: repeat(5, 1fr);
      max-width: 900px;
    }
  }
}
