.container {
  margin: 150px 0 0px 0; //margin top has height same as the fixed HeaderBookDetails + 10px
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  .notes,
  .info {
    cursor: pointer;
    padding: 5px 10px 10px 10px;
    border-style: none;
    background-color: transparent;
    color: var(--tertiary-color);
    font-weight: 700;
    font-size: 19px;
    width: 50%;
    border-bottom: 3px solid transparent;
    transition: 0.5s all ease;

    &:hover {
      color: var(--font-color);
      border-bottom: 3px solid var(--font-color);
    }
  }

  .active {
    @extend .notes;
    color: var(--font-color);
    border-bottom: 3px solid var(--font-color);
  }
}

.line {
  border: 1px solid var(--secondary-color);
}
