.notes-container {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 25px auto 25px auto;

  .book-notes {
    margin-top: 10px;
    width: 100%;
    max-width: 900px;
    border-radius: 3px;
    background-color: var(--secondary-color);
    color: var(--font-color);
    font-size: 16px;
    padding-left: 10px;

    &::placeholder {
      color: var(--secondary-color);
    }
  }

  .notes-btn {
    cursor: pointer;
    padding: 10px 0;
    margin-top: 10px;
    width: 100%;
    max-width: 900px;
    color: var(--background-color);
    font-weight: 700;
    font-size: 16px;
    background: var(--search-orange);
    border-style: none;
    border-radius: 3px;
    transition: all 0.5s ease;

    &:hover {
      background: var(--search-orange);
      color: var(--font-color);
    }
  }
}

@media screen and (min-width: 996px) {
  .notes-container {
    margin-left: 85px;
    justify-content: center;
    align-items: center;
  }
}
